main{
    display: flex;
    flex-direction: column;
}
.landing{
    display: flex;
} 
.layercontent{
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-container{
    width: 50%;
}
.img-container img{
    width: 100%;
    height: auto;
}
.text-container{
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    margin-left: 5%;
}
.text-container a{
    padding:20px;
}
.layerimage{
    margin-top: 10%;
    max-width: 50%;
    height: auto;
    margin-right: 45%;
}