main{
    display: flex;
} 
.img-container{
    width: 50%;
}
.img-container img{
    width: 100%;
    height: auto;
}
.text-container{
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}
.text-container a{
    padding:20px;
}
.parent-container {
    display: flex;
    flex-direction: column; /* This ensures vertical stacking */
    width: 100%;
  }

  
.main-container, .second-container {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Additional styles for text-container and img-container if needed */
  