main{
    display: flex;
} 
.img-container{
    width: 50%;
}
.img-container img{
    width: 100%;
    height: auto;
}
.text-container{
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}
.text-container a{
    padding:20px;
}