.a-btn {
  /* display: inline-flex; */
  background-color: #b6e6fe;
}

.t-btn {
  /* display: inline-flex; */
  background-color: #54ff91;
}

.n-btn {
  /* display: inline-flex; */
  background-color: orange;
}

.d-btn {
  /* display: inline-flex; */
  background-color: violet;
}

#lyrbtns button {
    font-weight: bold;
    margin-bottom: 30px;
  }
