p {
    text-align: left;
}
h2 {
text-align: left;
}
li{
text-align: left;
}


.section_wrapper {
    background-color: #fff;
    box-shadow: 0 29px 32px -20px rgba(0,0,0,.5),0 4px 11px -3px rgba(0,0,0,.25);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    z-index: 4;
    transition: all .3s ease
}


.section_wrapper h1,
.section_wrapper h2 {
    text-align: center;
}
.section_wrapper h3 {
    font-size: 25px;
    color: #494949;
    margin-top: 10px;
}


.section_wrapper p {
    text-align: left;
}

.centered-image {
    display: block;
    margin: 20px auto;
}
.smaller-image {
    width: 50%;
    height: auto;
}

.socrates-words{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}