.a-btn {
  /* display: inline-flex; */
  background-color: lime;
}

.t-btn {
  /* display: inline-flex; */
  background-color: skyblue;
}

.n-btn {
  /* display: inline-flex; */
  background-color: orange;
}

.d-btn {
  /* display: inline-flex; */
  background-color: violet;
}