#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  height: 100%;
  background-image: url("./assets/img/background_main_networks_nodes.svg");
  background-color: #f8d763;
  
  background-size: cover;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  margin-top: 0;
}

.horizontal_line{
  border: none;
  height: 1px;  /* thickness */
  background-color: #666464;
  width: 100%;
  margin: 0;
}

.gif-container {
  position: relative;
  margin: 20px auto;
  max-width: 800px;
  border: 1px dashed #1b1a1a;
}
.gif {
  width: 100%;
  height: auto;
}

.gif-logo-container{
  position: absolute;
  top: 40px;
  left: 230px;
}
.gif-logo {
  width: 50%;
  height: auto;
}
